<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SQL Select Practice</title>
</head>
<body>

    <h1>Famous Quotes Reports</h1>

    <a href="/allFemaleAuthors"> All Female Authors </a><br><br>

    <a href="/allQuotesAlpha"> All Quotes Alphabetically</a><br><br>

    <a href="/allQuotesLife"> All Quotes With 'life'</a><br><br>

    <a href="/allQuotesBetween"> Quotes with likes between 50-100</a><br><br>

    <a href="/topQuotes"> Top 3 Quotes</a><br><br>

    <a href="/authorsPhotos"> Authors Photos</a><br><br>

    <a href="/authorsPhotosMale"> Authors Photos: Male</a><br><br>

    <a href="/authorsPhotosFemale"> Authors Photos: Female</a><br><br>

    <a href="/worstQuotes"> Worst 5 Quotes</a><br><br>

    <a href="/randomQuote"> Random Quote</a><br><br>


    
</body>
</html>