<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Quotes Between</title>
</head>
<body>

    <a href="/"> Home </a>

    <h1> Top Quotes </h1>

    <% for (let i of rows) { %>
    <span>-</span><%= i.quote %> <span>  Number of likes:</span><%= i.likes %><br><br>

    <% } %>


    
</body>
</html>